<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="title-heading">Orders</h1>
    <div class="product-order-items">
        <img src="https://media1.tenor.com/m/l6Tx-EZfwmYAAAAC/kopadari-manishini.gif" class="cart-empty-image" alt="cart empty" />
        <p class="empty-para">Ikkada Orders undalikadhandi, dhenikandi veellu.. Basic sence undadhu... :)</p>
    </div>
</body>
</html>
