<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="product-title">Product Details</h1>
    <div class="product-details-container">
        {% if product %}
            <div class="product-details">
                <h2 class="head">{{ product[1] }}</h2>
                <p class="para">Description: {{ product[3] }}</p>
                <p class="para">Price: ${{ product[2] }}</p>
                <p class="para">Available: {{ product[6] }}</p>
                <div>
                    <a href="/Orderdetails" class="order-details-link"><button class="button">Order Now</button></a>
                </div>
            <div>
                <a href="/displayProducts" class="button"><button class="button">GO Back</button></a>
            </div>
     
            </div>
            <div class="side-image">
                <img class="side-image" src="{{ product[4] }}" alt="{{ product[4] }}">
            </div>
        {% else %}
            <p>Product not found.</p>
        {% endif %}
    </div>
</body>
</html>