.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.product {
    width: calc(33.333% - 40px);
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product-details {
    text-align: center;
}

.product-heading {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.price {
    font-size: 1.2rem;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.empty-para {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
}

/* Image Styles  huy*/
.side-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Navbar styles budy*/
.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */


.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 100px;
    margin-right: 10px;
    margin-top: 15px;
}

.logo-text {
    font-size: 15px;
    color: #333333;
}

.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.nav-item {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.nav-item a {
    text-decoration: none;
    color: #333333;
    font-size: 22px;
    margin-top: 15px;
}

.cart-link,
.order-details-link {
    font-size: 26px;
}

.filter-form {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-size: 22px;
    margin-top: 15px;
}

.filter-form label,
.filter-form select{
    margin-right: 10px;
}

.filter-form button {
    background-color: #3399ff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button {
    background-color: #245fdf;
    border: none;
    padding: 8px 16px; 
    border-radius: 4px; 
    font-size: 22px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #f0f0f0; 
}



.search-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333333;
    font-size: 22px;
    margin-top: 15px;
}

.search_bar {
    padding: 8px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

.search_bar:focus {
    outline: none;
    border-color: #3399ff;
}

.search-container button {
    background-color: #3399ff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: #2672dd;
}

.cart-details {
    color: #000000;
    font-size: 20px;
    font-family: "Roboto";
    font-style: normal;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items-container {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-item a {
        font-size: 18px;
        margin-top: 0;
    }

    .cart-link,
    .order-details-link {
        font-size: 20px;
    }
    
    .filter-form {
        margin-right: 0;
    }

    .search-container {
        margin-top: 20px;
    }
}


.product-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}